<h1>Create a New Post!</h1>

<%= form_with model: @post do |form| %>

<p>
    <%= form.label "Title" %>
    <%= form.text_field "title" %>
</p>

<p>
    <%= form.label "Description" %>
    <%= form.text_field "description" %>
</p>

<p>
    <%= form.label "Trip Date" %>
    <%= form.date_field "posted_on" %>
</p>


    <%= form.number_field "place_id" %>
 
    <%= form.submit %>

<% end %>